<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hao.services.repository.mybatis.mapper.Mapper">
	
	<!-- Mapping Money -->
	<resultMap type="com.hao.services.repository.mybatis.model.Money" id="Money">
		<id column="mno" property="mno"  />
		<result column="uno" property="uno"  />
		<result column="cno" property="cno"  />
		<result column="sno" property="sno"  />
		<result column="spend" property="spend"  />
		<result column="date" property="date"  />
		<result column="note" property="note"  />
		<result column="mode" property="mode"  />
	</resultMap>

	<!-- if collection is used SQL should be in XML -->
	<!-- <collection property="children" column="parentId" select="selectAllChildren" javaType="ArrayList" /> -->
	<!-- Mapping Class -->
	<resultMap type="com.hao.services.repository.mybatis.model.Class" id="Class">
		<id column="cno" property="cno"  />
		<result column="uno" property="uno"  />
		<result column="name" property="name"  />
		<result column="order_id" property="order_id"  />
	</resultMap>

	<!-- ************************************************************************************* -->
	
	<!-- Mapper.selectAllMoney() -->
	<select id="selectAllMoney" resultMap="Money" timeout="10">
		SELECT * FROM money
	</select>
	
	<!-- Mapper.selectMoney() -->
	<select id="selectMoney" resultMap="Money" parameterType="int" timeout="10">
		SELECT * FROM parent WHERE mno= #{id}
	</select>
	
	<!-- Mapper.insertchild() -->
	<insert id="insertClass" parameterType="Child" timeout="10">
		INSERT INTO child
			(parentId,childName)
			VALUES 
			(#{parentId},#{childName})
	</insert>
</mapper>
